<h2> Teams </h2>
<ul>
	<% @teams.each do |team| %>
		<li><%= link_to "#{team.name}", team_path(team) %></li>
		<% if current_user.try(:admin?) %>
			<%= link_to "Edit This Team", edit_team_path(team) %>
			<%= link_to "Add a Player to This Team", new_team_player_path(team) %>
		<% end %>
	<% end %>
</ul>

<% if current_user.try(:admin?) %>
  <%= link_to "Add New Team", new_team_path %>
<% end %>