<h1>Leagues</h1>

<ul>
	<% @leagues.each do |league| %>
		<li><%= link_to "#{league.name}", league_path(league) %></li>
		<% if current_user.try(:admin?) %>
		<%= link_to "Edit This League", edit_league_path(league) %>
		<% end %>
	<% end %>
</ul>

<% if current_user.try(:admin?) %>
  <%= link_to "Add New League", new_league_path %>
| <%= link_to "Add New Team", new_team_path %>
<% end %>